<%= simple_form_for [@rental, @request], url: rental_requests_path(@rental) do |f| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :salary %>
    <%= f.text_field :salary %>
  </div>

  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>

  <div class="field">
    <%= f.label :smoker %>
    <%= f.check_box :smoker %>
  </div>

  <div class="field">
    <%= f.label :petowner %>
    <%= f.check_box :petowner %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
