<p id="notice"><%= notice %></p>

<p>
  <strong>Salary:</strong>
  <%= @request.salary %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @request.occupation %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @request.smoker %>
</p>

<p>
  <strong>Petowner:</strong>
  <%= @request.petowner %>
</p>

<%= @request.user.firstName %>
<%= @request.rental.address %>
