<style>body{background-color: #f5f5f5;}</style>


<div class="sign-modal">


<div class="sign-text">
Sign in
</div>  

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="start-input-container">
    <%= f.input :email, input_html: { :class => "start-form"}, placeholder: 'Email', label: false %>
    </div>

    <div class="start-input-container">
    <%= f.input :password, input_html: { :class => "start-form"}, placeholder: 'Password', label: false %>
    </div>
   <div class="btn-input">
    <%= f.submit "Sign in", class: "btn square-btn" %>
  </div>
<% end %>


<div class="row"></div>
<p3> Don't have a Rezy account? <%= link_to "Sign up for free.", '/owners/get-started', class: "get-started-close" %> </p3>



</div>
