<div class="col-md-6 col-md-offset-3">
<%= link_to "Update rental", edit_rental_feature_path(@rental, @feature), class: "btn" %>
<p>
  <strong>Bed:</strong>
  <%= @feature.bed %>
</p>

<p>
  <strong>Bath:</strong>
  <%= @feature.bath %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @feature.rent %>
</p>

<p>
  <strong>Available:</strong>
  <%= @feature.available %>
</p>

<p>
  <strong>Dishwasher:</strong>
  <%= @feature.dishwasher %>
</p>

<p>
  <strong>Washer dryer:</strong>
  <%= @feature.washer_dryer %>
</p>

<p>
  <strong>Hardwood:</strong>
  <%= @feature.hardwood %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @feature.deck %>
</p>

<p>
  <strong>Air:</strong>
  <%= @feature.air %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @feature.cat %>
</p>

<p>
  <strong>Dog:</strong>
  <%= @feature.dog %>
</p>

<p>
  <strong>Bbq:</strong>
  <%= @feature.bbq %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feature.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>New kitchen:</strong>
  <%= @feature.new_kitchen %>
</p>

<p>
  <strong>Neighbourhood:</strong>
  <%= @feature.neighbourhood %>
</p>

<p>
  <strong>Rental:</strong>
  <%= @feature.rental_id %>
</p>

<p>
  <strong>Year lease:</strong>
  <%= @feature.year_lease %>
</p>

<p>
  <strong>Furnished:</strong>
  <%= @feature.furnished %>
</p>

<p>
  <strong>Square feet:</strong>
  <%= @feature.sq_feet %>
</p>

<p>
  <strong>Type:</strong>
  <%= @feature.property_type %>
</p>

</div>
