





<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= current_user.class %>


<%= link_to edit_applicant_registration_path do %>
<div class="dropdown header-box pull-right">
<div class="avatar-nav-border">
<div class="avatar-nav">
<%= image_tag(current_user.avatar.url) %>
</div>
</div>
<div class="head-text" style="padding-left: 0px;"><%= current_user.firstName.upcase_first %></div>
 </div>
<% end %>


<%= link_to help_path do %>
<div class="header-box pull-right">
<div class="head-text">Help</div>
<div class="head-icon lifesaver"></div>
</div>
<% end %>

<div class="header-box pull-right">
<div class="head-text">Messages</div>
<div class="head-icon message"></div>
</div>

<%= link_to applicant_dashboard_path do %>
<div class="header-box pull-right">
<div class="head-text">Dashboard</div>
<div class="head-icon home"></div>
</div>
<% end %>




