<div class="fixed-header">
<div class="regular-header">

<div class="logo-box">
<div class="header_logo"></div>
</div>



<% if user_signed_in? %>

<% if current_user.type == "Owner" %>

<%= render 'layouts/dashboard_header' %>

<% elsif current_user.type == "Applicant" %>

<%= render 'layouts/applicant_dashboard_nav' %>

<% end %>



<% else %>

<div class="hide-mobile">
<%= link_to "Get started", '/owners/get-started', class: "btn add-property" %>
<%= link_to new_user_session_path do %>
<div class="header-link">
<%= link_to "Sign in", login_path %>
</div>
<%= link_to "Support", help_path, class: "header-link" %>
<div class="header-link">514-632-6815</div>
<i class="material-icons" style="margin-left: 15px; float: right; line-height: 60px; font-size: 16px;">phone</i>
</div>

<% end %>




<% end %>



</div>
</div>

