
<div class="left-navbar">

<div class="title-left-wrapper">
<div class="sidebar-left-icon"></div>Manage
</div>

<%= link_to dashboard_path do %>
<div class="<%= is_active?('/dashboard') %>">
Dashboard
</div>
<% end %>


<%= link_to issues_path do %>
<div class="<%= is_active?('/manage/issues') %>">
Maintanence
</div>
<% end %>

<%= link_to applicants_path do %>
<div class="<%= is_active?('/manage/applicants') %>">
Applicants
</div>
<% end %>





</div>


